
.nighttheme {
  color: var(--white-color)

}

.nighttheme .main {
 background-image: url('../img/hero-bg.jpg') !important;

}

.nighttheme .section .container {
  background-color: var(--black-color);
}

.nighttheme .card-header  {
  background-color: var(--black-color);
  border-bottom: 1px solid var(--accent-color);
}

.nighttheme .about-card__subtitle {
  color: var(--white-color);
}

.nighttheme .card {
  background-color: var(--black-color);
}

.nighttheme .product-card {
  border: 1px solid var(--accent-color);
}

.nighttheme .card-body  {
  background-color: var(--black-color);
  border-bottom: 1px solid var(--accent-color);
}

.nighttheme .card .row {
  background-color: var(--black-color);
  border-bottom: 1px solid var(--accent-color);
}

.nighttheme .blog-preview__footer {
  background-color: var(--black-color);
}

.nighttheme address {
  color: var(--white-color) ;
}



.nighttheme .form-control {
  background-color: var(--black-color);
  color: var(--white-color);
  border: 1px solid var(--accent-color);
}

.nighttheme .form-control::placeholder  {
  color: var(--white-color);
}
